body
{
    font-family: "Roboto";
    font-size: small;
    margin-left: 0%;
    margin-right: 0%;
}

footer
{
    font-family: "Roboto";
    font-weight: lighter;
    color:white;
    font-size: 8px;
    align-items: end;
    background-color: rgb(163, 163, 163);
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#noraIco
{
    border-radius: 25px;
}

nav#mainNav
{
    display: block;
    background-color: #003FB0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    width: 100%;
}

nav#mainNav ul
{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

li.navTab
{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    color: white;
    text-align: center;
    margin: auto;
    width: 15%;
}

li.navTab:hover
{
    background-color: #3a7fff;
}

li.navTab a
{
    text-decoration: none;
    color: white;
}

header
{
    font-family: "Roboto";
    font-weight: bold;
    font-size: large;
    display: block;
    align-self: center;
    padding-bottom: 10px;
    margin-left: 5px;
}

main
{
    padding: 5px;
}