body
{
    font-family: "Jetbrains Mono";
    font-size: small;
    text-justify: newspaper;
    margin-left: 0%;
    margin-right: 0%;
    background-color: black;
    color: #33ff00;
}

footer
{
    font-weight: lighter;
    font-size: 10px;
    align-items: end;
    background-color: rgb(31, 31, 31);
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer a:visited
{
    color: #33ff00;
}

footer a
{
    color: #33ff00;
}

#noraIco
{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

aside#mainNav
{
    flex-flow: column;
    border-color: #33ff00;
    margin-right: 2%;
    margin-top: 0%;
    width: 25%;
    align-self: left;
    border-style: solid;
    border-width: 2px;
}

main
{
    flex-flow: row;
    flex-grow: initial;
    display: flex;
    height: 100%;
}

aside#mainNav ul
{
    margin-left: auto;
    margin-right: auto;
}

ul li
{
    list-style: none;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

ul li a
{
    text-decoration: none;
}

ul li a:visited
{
    color: inherit;
}

ul li:hover
{
    background-color: #20a200;
    color: white;
}


header
{
    font-weight: bold;
    font-size: large;
    display: block;
    align-self: center;
    padding: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #33ff00;
}

main
{
    padding: 5px;
}

col
{
    display: inline;
}

img.thumbnail
{
    /* all thumbnails need consistent size */
    width: 200px;
    height: 120px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

div.post-thumb
{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: antiquewhite;
    padding-left: 5%;
    align-content: center;
    display: inline;
    margin: auto;
}